/* Contra - Interior Creator HTML Template */

/************ TABLE OF CONTENTS ***************
1. Fonts
2. Reset
3. Global
4. Main Header / Style two / Style three / Style Four
5. Side Nav Bar 
6. Hidden Sidebar
7. Banner Section / Two / Three
8. Page Title
9. Section Title
10. About Section
11. Services Section
12. Service Detail
13. Specialize Section / Two
14. Process Section
15. Fun Fact Section
16. Fun Fact And Features
17. Projects Section / Two 
18. Product Details
19. Offer Section
20. Team Section
21. Testimonial Section / Two
22. Products Section
23. Video Section
24. FAQ Section
25. FAQ Form Section
26. App Section
27. News Section / Two / Three
28. Blog Section
29. Blog Detail / Style Two
30. Clients Section
31. Contact Section
32. Main Footer
33. Sidebar Page Container
34. Comment Area
35. Comment Form
36. Contact Page Section
37. Coming Soon
38. Login Section
39. Error Section
40. Right to Left Style
41. Box Layout
**********************************************/

/*** 

====================================================================
			Fonts
====================================================================

***/

@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=BenchNine:300,400,700');

@import url('flaticon.css');
@import url('font-awesome.css');
@import url('animate.css');
@import url('jquery.mCustomScrollbar.min.css');
@import url('owl.css');
@import url('jquery.bootstrap-touchspin.css');
@import url('jquery-ui.css');
@import url('jquery.fancybox.min.css');

/*** 

====================================================================
		Reset
====================================================================

 

====================================================================
	Main Header style
====================================================================

***/

.main-header{
	position: relative;
	left: 0;
	top: 0;
	width:100%;
	z-index: 9999;
}

.fixed-header{
background-color: rgba(0,0,0,0.80);
    border-bottom: 1px solid #d0d0d0;
}

.main-header .header-top{
	position: relative;
	background-color: #ffa900;
}

.main-header .top-left{
	position: relative;
	float: left;
}

.main-header .top-left .contact-list{
	position: relative;
	padding: 5px 0;
}

.main-header .top-left .contact-list li{
	position: relative;
	float: left;
	font-size: 14px;
	line-height: 30px;
	color: #222222;
	font-weight: 400;
	margin-right: 25px;
}

.main-header .top-left .contact-list li:last-child{
	margin-right: 0;
}

.main-header .top-left .contact-list li i{
	float: left;
	font-size: 16px;
	line-height: 30px;
	margin-right: 10px;
	color: #ffffff;
}

.main-header .top-left .contact-list li a{
	color: #222222;
	display: inline-block;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.main-header .top-left .contact-list li a:hover{
	color: #ffffff;
}

.main-header .top-right{
	position: relative;
	float: right;
	padding:5px 0;
}


.main-header .main-box{
	position:relative;
	display: block;
}

.main-header .inner-container{
	position: relative;
	padding: 0 15px;
}

.main-header .logo-box{
	position: relative;
	float: left;
	display: inline;
}
.logo img{
  padding: 5px;
  display: inline;
  width: 85px;
  box-shadow: 5px 5px 5px #222222;
}

.main-header .logo-box .logo{
	position: relative;
	display: inline-block;
	/*padding: 15px 0;*/
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.main-header .logo-box .logo >h2{
display: inline-block;
padding: 15px;
color: #ffffff;
text-shadow: 3px 7px 10px #000000;
top: 18px;
}
.main-header .nav-outer{
	position: static;
	float: left;
}

.navbar-toggler{
	border: 0 !important;
}

.main-menu {
    position: static;
    float: left;
    font-family: "Rubik", sans-serif;
}

.main-menu .navbar-header{
	display: none;
}

.main-menu .navbar-collapse{
	padding:0px;	
}

.main-menu .navigation{
	position:static;
	margin:0px;
}

.main-menu .navigation > li{
	position:relative;
	float:left;
	margin-left: 0px;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-menu .navigation > li > a{
	position:relative;
	display:block;
	font-size:15px;
	line-height:30px;
	font-weight:500;
	color:#FF69B4;
	padding:35px 8px;
	opacity:1;
	text-align:center;
	/*	text-transform:uppercase;*/
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

	
.main-menu .navigation > li > ul > li > ul > li:hover > a{
	color:#ffffff;
	background:#ffffff;
}

.main-menu .navigation > li > ul > li > ul > li.dropdown > a:after{
	font-family: 'FontAwesome';
	content: "\f105";
	position:absolute;
	right:10px;
	top:11px;
	width:10px;
	height:20px;
	display:block;
	color:#292929;
	line-height:20px;
	font-size:13px;
	font-weight: 900;
	text-align:center;
	z-index:5;	
}

.main-menu .navigation > li > ul > li > ul > li.dropdown:hover > a:after{
	color:#ffffff;
}

.main-menu .navigation > li > ul{
	position:absolute;
	left:0px;
	top:110%;
	width:200px;
	padding:0px 0px;
	z-index:100;
	background:rgba(47,46,50,.90);
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-ms-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
	opacity: 1;
	-webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}

.main-menu .navigation > li > ul.from-right{
	left:auto;
	right:0px;	
}

.main-menu .navigation > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(255,255,255,0.10);
}

.main-menu .navigation > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li > a{
	position:relative;
	display:block;
	padding:10px 20px;
	line-height:24px;
	font-weight:400;
	font-size:15px;
	color:#ffffff;
	text-align:left;
	text-transform:capitalize;
    border-left: 4px solid transparent;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li:hover > a{
    border-left: 4px solid #ff8a00;
	background:#ffffff;
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
	font-family: 'FontAwesome';
	content: "\f105";
	position:absolute;
	right:15px;
	top:11px;
	width:10px;
	height:20px;
	display:block;
	line-height:20px;
	font-size:16px;
	color: #ffffff;
	font-weight:normal;
	text-align:center;
	z-index:5;	
}

.main-menu .navigation > li > ul > li > ul{
	position:absolute;
	left:110%;
	top:0%;
	width:200px;
	padding:0px 0px;
	z-index:100;
	background:rgba(47,46,50,.90);
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-ms-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
	-webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}

.main-menu .navigation > li > ul > li > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(255,255,255,0.10);
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
	border-bottom:none;	
}

.main-menu .navigation > li > ul > li  > ul > li > a{
	position:relative;
	display:block;
	padding:10px 20px;
	line-height:24px;
	font-weight:400;
	font-size:15px;
	color:#ffffff;
	text-align:left;
	text-transform:capitalize;
    border-left: 4px solid transparent;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li  > ul > li > a:hover{
	color: #ffffff;
	background:#222222;
    border-left: 4px solid #ff8a00;
}

.main-menu .navigation > li.dropdown:hover > ul{
	-webkit-transition:all 300ms linear;
	-moz-transition:all 300ms linear;
	-ms-transition:all 300ms linear;
	-o-transition:all 300ms linear;
	transition:all 300ms linear;
	visibility:visible;
	opacity:1;
	top:100%;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	top: 0;
	left: 100%;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;	
}

.main-menu .navbar-collapse > ul li.dropdown .dropdown-btn{
	position:absolute;
	right:10px;
	top:8px;
	width:34px;
	height:30px;
	border:1px solid #ffffff;
	text-align:center;
	font-size:16px;
	line-height:30px;
	color:#ffffff;
	cursor:pointer;
	z-index:5;
	display:none;
}

.main-header .outer-box{
	position: relative;
	float: right;
}

.social-icon-one{
	position: relative;
}


.main-header .contact-info{
	position: relative;
}

.main-header .contact-info li{
	position: relative;
	float: left;
	margin-left: 35px;
	font-size: 14px;
	line-height: 30px;
	color: #222222;
	font-weight: 400;
}

.main-header .contact-info li span{
	position: relative;
	float: left;
	font-size: 14px;
	line-height: 30px;
	color: #aaaaaa;
	font-weight: 400;
}

.main-header .contact-info li a{
	color: #222222;
	transition: all 300ms ease;
}

.main-header .contact-info li a:hover{
	color: #ff8a00;
}


/*===================================
		Header Style One
===================================*/

.header-style-one{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.header-style-one .header-lower{
	position: relative;
	/*background-color: rgba(104, 177, 45, 0.89);*/
	margin: 0 0px;
	padding: 0 0px;
}

.header-style-one .header-lower:before{
	position: absolute;
	top: 0;
	left: -30px;
	height: 0;
	width: 0;
	border-left: 30px solid transparent;
		/*background-color: rgba(104, 177, 45, 0.89);*/
	content:"";
}

.header-style-one .header-lower:after{
	position: absolute;
	top: 0;
	right: -30px;
	height: 0;
	width: 0;
	border-right: 30px solid transparent;
	/*background-color: rgba(104, 177, 45, 0.89);*/
	content:"";
}


.header-style-one .nav-outer{
	float: right;
}

.header-style-one .main-menu .navigation > li{
	margin-left: 0px;
}

.header-style-one .main-menu .navigation > li > a{
	color: #ffffff;
}

.header-style-one .main-menu .navigation > li > a:before{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height:0px;
	width: 2px;
	/*background-color: #ff8a00;*/
	content: ""; 
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.header-style-one .main-menu .navigation > li.current > a:before,
.header-style-one .main-menu .navigation > li:hover > a:before{
	height: 30px;
}


.header-style-one .outer-box{
	padding: 32.5px 0;
	margin-left: 45px;
}

.header-style-one .search-box-btn:hover{
	color: #ffffff !important;
}

.header-style-one .search-box-outer .dropdown-menu{
	top: 20px !important;
}


/*search box btn*/

.main-header .search-box-outer{
	position:relative;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-header .search-box-btn{
	position: relative;
	height: 35px;
	width: 35px;
    cursor: pointer;
    background: none;
    font-size: 15px;
    color: #ffa600;
    line-height: 33px;
    border: 1px dashed #ffffff;
    border-radius: 50%;
	outline: none;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition:all 300ms ease;
}

.main-header .search-box-btn:hover{
	color: #ff8a00;
}

.dropdown-toggle::after{
	display: none;
}

.main-header .search-box-outer .dropdown-menu{
	top:62px !important;
	right: 0 !important;
	left: auto !important;
	transform: none !important;
	padding:0px;
	width:280px;	
	border-radius:0px;
	border-top:3px solid #25262c;
}

.main-header .search-panel .form-container{
	padding:25px 20px;	
}

.main-header .search-panel .form-group{
	position:relative;
	margin:0px;	
}

.main-header .search-panel input[type="text"],
.main-header .search-panel input[type="search"],
.main-header .search-panel input[type="password"],
.main-header .search-panel select{
	display:block;
	width:100%;
	line-height:24px;
	padding:7px 40px 7px 15px;
	height:40px;
	font-size:14px;
	border:1px solid #e0e0e0;
	background:#ffffff;	
}

.main-header .search-panel input:focus,
.main-header .search-panel select:focus{
	border-color:#25262c;	
}

.main-header .search-panel .search-btn{
	position:absolute;
	right:0px;
	top:0px;
	width:40px;
	height:40px;
	text-align:center;
	color:#555555;
	font-size:12px;
	background:none;
	cursor:pointer;
}



/*===================================
		Header Style Two
===================================*/
.header-style-two{
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
}

.header-style-two .header-top .inner-container{
	padding: 0 40px;
}


.header-style-two .header-lower{
	position: relative;
}

.header-style-two .header-lower .auto-container{
	position: relative;
	max-width: 1170px;
}


.header-style-two .header-lower .main-box{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0px;
	background-color: rgba(0,0,0,0.90);
	border-radius: 0 0 15px 15px;
}


.header-style-two .nav-outer{
	float: right;
}

.header-style-two .main-menu .navigation > li{
	margin-left: 35px;
}

.header-style-two .main-menu .navigation > li > a{
	position: relative;
	color: #ffffff;
	font-weight: 500;
}

.header-style-two .main-menu .navigation > li > a:before{
	position: absolute;
	left: 50%;
	width: 0;
	height: 1px;
	bottom: 35px;
	content: "";
	background-color: #ffa900;
	transition: all 300ms ease;
}


.header-style-two .main-menu .navigation > li:hover > a:before,
.header-style-two .main-menu .navigation > li.current > a:before{
	left: 0%;
	width: 100%;
}


.header-style-two .outer-box{
	padding: 32.5px 0;
	margin-left: 45px;
}

.header-style-two .search-box-btn:hover{
	color: #ffffff !important;
}

.header-style-two .search-box-outer .dropdown-menu{
	top: 62px !important;
}

.header-style-two .search-box-outer{
	float: right;
	margin-left: 40px;
}


.main-header .cart-btn{
	position: relative;
	float: left;
}

.main-header .cart-btn a{
	position: relative;
	display: inline-block;
	font-size: 20px;
	line-height: 35px;
	color: #ffffff;
}

.main-header .cart-btn .count{
	position: absolute;
	right: -11px;
	top: 0;
	height: 22px;
	width: 22px;
	line-height: 22px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	font-weight: 400;
	background-color: #fb4848;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}


/*===================================
		Header Style Three
===================================*/

.header-style-three{
	position: relative;
	background-color: #333333;
}

.header-style-three .logo-box:before{
	position: relative;
	top: 0;
	display: inline;
	margin-right: -230px;
	right: 100%;
	height: 100%;
	width: 1000%;
	background-color: #ffffff;
	content: "";
	transform:skew(40deg);
}


.header-style-three .inner-container{
	position: relative;
}

.header-style-three .nav-outer{
	float: right;
}

.header-style-three .outer-box{
	position: relative;
	float: right;
	padding: 35px 0;
}

.header-style-three .main-menu .navigation > li > a{
	color: #ffffff;
}

.header-style-three .main-menu .navigation > li > a:before{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height:0px;
	width: 2px;
	background-color: #ff8a00;
	content: ""; 
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.header-style-three .main-menu .navigation > li.current > a:before,
.header-style-three .main-menu .navigation > li:hover > a:before{
	height: 30px;
}


.header-style-three .outer-box{
	margin-left: 80px;
}

.header-style-three .nav-toggler{
	position: relative;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	color: #222222;
	font-weight: 400;
	background-color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	transition: all 300ms ease;
}

.header-style-three .nav-toggler:hover{
	background-color: #ffa500;
	color: #ffffff;
}


/*===================================
		Header Style Four
===================================*/

.header-style-four{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.header-style-four .header-top{
	position: relative;
	background-color: transparent !important;
}

.header-style-four .header-top .top-right{
	float: right;
	padding: 10px 0;
}

.header-style-four .header-top .top-right li a,
.header-style-four .header-top .top-right li{
	color: #ffffff;
	font-size: 14px;
}

.header-style-four .header-top .top-right li span{
	font-weight: 700;
	color: #ffffff;
	border: 0;
	width: auto;
}

.header-style-four .header-top .top-right li a:hover{
	color: #ff8a00;
}

.header-style-four .header-lower{
	position: relative;
	background-color: rgba(0,0,0,0.40);
}

.header-style-four .nav-outer{
	float: right;
}

.header-style-four .main-menu .navigation > li{
	margin-left: 45px;
}

.header-style-four .main-menu .navigation > li > a{
	color: #ffffff;
}

.header-style-four .search-box-outer{
	padding: 32.5px 0;
}

.header-style-four .search-box-btn{
	color: #ff8a00;
	margin-left: 55px;
}

.header-style-four .search-box-btn:hover{
	color: #ffffff;
}

.header-style-four .search-box-outer .dropdown-menu{
	top: 65px !important;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
	color:#ffffff;
	font-size: 17px;
	text-shadow: 1px 1px 4px #000000;

}

.header-style-four.fixed-header .search-box-outer{
	padding: 22.5px 0;
}



/*===================================
		Header Style Five
===================================*/

.header-style-five{
	position: relative;
}

.header-style-five .logo-box .logo{
	padding: 25px 0;
}

.header-style-five .inner-container{
	position: relative;
	padding-left: 120px;
	padding-right: 55px;
}

.header-style-five .main-menu .navigation > li > a{
	padding: 45px 0;
}

.header-style-five .main-menu .navigation > li > a:before{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 0;
	width: 2px;
	background-color: #222222;
	margin: 0 auto;
	content: "";
	transition: all 300ms ease;
	z-index: 1;
}

.header-style-five .main-menu .navigation > li > a:hover:before,
.header-style-five .main-menu .navigation > li.current > a:before{
	height: 43px;
}

.header-style-five .outer-box{
	position: relative;
	padding: 45px 0;
}
 
.header-style-five .outer-box .social-icon-one{
	position: relative;
	float: left;
}

.header-style-five .outer-box .contact-info{
	position: relative;
	float: right;
	padding-left: 30px;
	margin-left: 50px;
	border-left: 1px solid #dddddd;
}

.header-style-five .outer-box{
	position: relative;
	float: right;
}

.header-style-five .contact-info li{
	color: #222222;
}

.header-style-five .contact-info li a{
	color: #222222;
	transition: all 300ms ease;
}

.header-style-five .contact-info li a:hover{
	color: #ff8a00;
}

/*** 

====================================================================
		Header Style Six
====================================================================

***/

.header-style-six{
	position: absolute;
   	left: 0;
}
  
.header-style-six .outer-container{
   	padding: 0 80px;
   	border-bottom: 1px solid rgba(255,255,255,.30);
}

.header-style-six .logo-box {
  	padding-right: 30px;
  	border-right: 1px solid rgba(255,255,255,.30);
}
  
.header-style-six .logo-box .logo{
  	padding: 15px 0;
}

.header-style-six .outer-box{
  	float: left;
  	margin-left: 100px;
}

.header-style-six .contact-info {
    position: relative;
    float: left;
    padding: 35px 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

  
.header-style-six .contact-info{
  	position: relative;
  	float: left;
}
  
.header-style-six .contact-info li span{
  	color: #ff8a00;
 	font-weight: 700;
}
  
.header-style-six .btn-box{
	position: relative;
  	float: right;
}
  
.header-style-six .nav-toggler{
  	position: relative;
	height: 40px;
}

.header-style-six .nav-toggler:hover{
	color: #ffffff !important;
}


.header-style-six.fixed-header .outer-container{
  	position: fixed;
  	left: 0;
  	width: 100%;
  	background-color: rgba(0,0,0,0.90);
  	border-bottom: 1px solid transparent;
}

.header-style-six.fixed-header .nav-toggler{
  	background-color: #ffffff;
}

.header-style-six.fixed-header .nav-toggler:hover{
  	color: #222222 !important;

}


.header-style-six.fixed-header .logo-box .logo{
  	padding: 10px 0;
}
  
.header-style-six.fixed-header .contact-info{
  	padding: 30px 0;
}

.header-style-six.fixed-header .btn-box{
  	padding: 25px 0;
}


.box-layout .header-style-six.fixed-header .outer-container{
	max-width: 1370px;
	left: 0;
	right: 0;
	margin: 0 auto;
}


.header-style-six .contact-info{
	position: relative;
}

.header-style-six .contact-info li{
	position: relative;
	float: left;
	margin-left: 25px;
	padding-left: 25px;
	border-left: 1px solid rgba(255,255,255,0.40);
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 400;
}

.header-style-six .contact-info li:first-child{
	border-left: 0;
}


.header-style-six .contact-info li span{
	position: relative;
	float: left;
	height: 30px;
	width: 30px;
	border: 1px solid rgba(255,255,255,0.40);
	font-size: 14px;
	line-height: 30px;
	color: #ff8a00;
	text-align: center;
	font-weight: 400;
	margin-right: 10px;
	border-radius: 50%;
}

.header-style-six .contact-info li a{
	color: #ffffff;
	transition: all 300ms ease;
}

.header-style-six .contact-info li a:hover{
	color: #ff8a00;
}

.header-style-six .btn-box{
	position: relative;
	float: right;
	padding: 30px 0;
}

.header-style-six .nav-toggler{
	position: relative;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #ffa500;
	font-weight: 400;
	background-color: #000000;
	cursor: pointer;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}


/*** 

====================================================================
	Header Style Seven
====================================================================

***/
  
.header-style-seven{
 	position: relative;
}
  
.header-style-seven .inner-container{
  	position: relative;
    padding-left: 100px;
    padding-right: 100px;
}  

.header-style-seven .logo-box .logo{
	padding: 25px 0;
}

.header-style-seven .nav-outer{
  	float: right;
}
  
.header-style-seven .main-menu .navigation > li{
  	margin-left: 45px;
}
  
.header-style-seven .main-menu .navigation > li > a{
  	font-size: 16px;
  	font-weight: 500;
  	padding: 45px 0;
}

.header-style-seven .outer-box{
	position: relative;
    float: right;
    padding: 45px 0;
  	margin-left: 80px;
}

.nav-toggler{
	position: relative;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 15px;
	color: #ffffff;
	font-weight: 400;
	background-color: #222222;
	cursor: pointer;
	transition: all 300ms ease;
}

.nav-toggler:hover{
	background-color: #ffa500;
	color: #000000;
}
 
.box-layout .header-style-seven .inner-container{
  	padding: 0 15px;
}


.sticky-header{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 0px 0px;
    z-index: -1;
    background: #ffffff;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.10);
    -ms-box-shadow: 0 0 15px rgba(0,0,0,0.10);
    -o-box-shadow: 0 0 15px rgba(0,0,0,0.10);
    box-shadow: 0 0 15px rgba(0,0,0,0.10);
    -webkit-transition: top 300ms ease;
    -moz-transition: top 300ms ease;
    -ms-transition: top 300ms ease;
    -o-transition: top 300ms ease;
    transition: top 300ms ease;
}

.fixed-header .sticky-header{
	opacity:1;
	z-index: 9999;
	visibility:visible;
}

.fixed-header .sticky-header .logo{
	padding: 10px 0;
}

.sticky-header .main-menu .navigation > li{
	margin-left: 30px !important;
	padding: 0;
	margin-right: 0;
	background-color: transparent;
}

.sticky-header .main-menu .navigation > li > a:before,
.sticky-header .main-menu .navigation > li:after{
	display: none !important;
}

.sticky-header .main-menu .navigation > li > a{
	padding:20px 0px !important;
	line-height:30px;
	font-size:16px;
	font-weight:400;
	color:#222222;
	text-transform:capitalize;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li.current-menu-item > a{
	opacity:1;
	color: #FF69B4;
	background-color: #ffffff;
}

.sticky-header .main-menu .navigation > li:before,
.sticky-header .main-menu .navigation > li.dropdown > a:after{
	display: none;
}

.sticky-header .main-menu .navigation > li.dropdown:hover > ul{
	margin-top: 0;
}

.header-style-four.fixed-header .header-lower{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,0.80);
}

.header-style-four.fixed-header .logo-box .logo{
	padding: 10px 0;
}

.header-style-four.fixed-header .main-menu .navigation > li > a{
	padding: 30px 0;
}

.header-style-four.fixed-header .search-box-btn{
	top: 5px;
}

.header-style-four.fixed-header .search-box-outer .dropdown-menu{
	top: 65px !important;
}

/************************ Mega Menu ***************************/

.main-menu .navigation > li.has-mega-menu{
	position:static;
}

.main-menu .navigation > li > .mega-menu{
	position:absolute;
	left:0px;
	right: 0;
	margin: auto;
	width:100%;
	max-width: 1170px;
	background:rgba(47,46,50,.90);
    padding: 45px 40px 30px 45px;
    top: 100%;
	z-index:100;
	opacity: 0;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	-ms-transform-origin: top;
	-o-transform-origin: top;
	transform-origin: top;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-o-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	-moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.05),-2px 0px 5px 1px rgba(0,0,0,0.05);
}

.main-menu .navigation > li:hover > .mega-menu{
	opacity: 1;
	visibility: visible;
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	transform: scaleY(1);
}

.main-menu .navigation > li > .mega-menu .mega-menu-bar{
	position: relative;
}

.main-menu .navigation > li .mega-menu-bar h3{
	position:relative;
	color:#f1f1f1;
	font-size:18px;
	font-weight:500;
	padding-bottom:10px;
	border-bottom:1px solid rgba(255,255,255,0.10);
}

.main-menu .navigation > li .mega-menu-bar > ul{
	position:relative;

}

.main-menu .navigation > li .mega-menu-bar .column > ul > li{
	position:relative;
	width:100%;
	border-bottom:1px solid rgba(255,255,255,0.10);
	text-transform:capitalize;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li .mega-menu-bar .column{
	position:relative;
	margin-bottom:10px;
}

.main-menu .navigation > li .mega-menu-bar .column > ul > li:last-child{
	border:none;
}

.main-menu .navigation > li .mega-menu-bar .column > ul > li > a{
	position:relative;
	display:block;
	padding:10px 20px;
	line-height:24px;
	font-weight:400;
	font-size:15px;
	color:#ffffff;
	text-align:left;
	text-transform:capitalize;
    border-left: 4px solid transparent;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-menu .navigation > li .mega-menu-bar .column > ul > li > a:hover{
    border-left: 4px solid #ff8a00;
	background:#222222;
}